#wrap {
    width:1200px;
    margin: 0 auto;
}

header > .logo {
    height:100px;
}

header > .search {
    height:100px;
}

header > .user {
    height:100px;
}

.header {
	background-color:dimgray;
	color: #fff;
	padding: 10px;
}

.menu-item:hover {
    background-color:#eeeeee;
}

.contents > .main-contents {
    background-color: #eeeeee;
}

.contents > .input-box {
	width: 400px;
	
}

.contents > .post-layout {
	width: 600px;
}



.main-contents > .video {
    margin-top:30px;
    width:300px;
}


.main-contents > .video{
  text-align:center;
}
.main-contents > .video > section>img{
  width:200px;
  margin:25px;
}


footer {
    height:100px;
        width:1110px;
    margin: 0 auto;
    
}


